/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-image: url("../../static/img/background/home-background.jpeg");
}

.avatarArea > img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  padding: 6px;
  background-color: darkgrey;
  box-shadow: inset 0 0 10px white;
  transition: ease 1s;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -o-transition: ease 1s;
  -ms-transition: ease 1s;
}

.avatarArea > img:hover {
  cursor: pointer;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.title,
.subTitle {
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinkIconArea {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 8px 8px;
}

.navLinkIconArea > .navLinkIconLink {
  display: flex;
  align-content: center;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.navLinkIconArea > .navLinkIconLink > img {
  border-radius: 100%;
  padding: 4px;
  cursor: pointer;
  background-color: darkgrey;
  box-shadow: inset 0 0 3px white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.navLinkIconArea > .navLinkIconLink > img:hover {
  opacity: 0.8;
  bottom: 12px;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
}

.mainContainer {
  padding: 40px 20px;
  width: 61.8%;
  margin: auto;
}

.mainContainerMobile {
  width: 100%;
  padding: 10px;
}

.marginTop {
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  .heroBanner {
    padding: 2rem;
    height: 30vh;
  }

  .title {
    font-size: 1.2rem;
    margin: 0;
  }

  .subTitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .listTitle {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  .heroBanner {
    height: 100vh;
  }

  .container {
    width: 38%;
  }

  .infoArea {
    background: rgba(0, 0, 0, 0.5);
    padding: 0.8rem;
    letter-spacing: 0;
    border-radius: 1rem;
    box-sizing: initial;
    white-space: nowrap;
  }

  .title {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
  }

  .subTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: "Yusei Magic", sans-serif;
  }

  .title::selection {
    color: var(--ifm-color-primary);
  }

  .subTitle::selection {
    color: var(--ifm-color-primary);
  }

  .listTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
