.list {
  margin-bottom: 20px;
}

.item {
  border-radius: 4px;
}

.item:hover {
  background-color: var(--link-list-hover);
}

.item a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  padding: 3px;
}

.item a > img {
  height: 25px;
  width: 25px;
  margin-right: 6px;
}

.item a > img:hover {
  opacity: 0.7;
  cursor: pointer;
}

[data-theme="dark"] .item a,
.item a:hover {
  color: white;
}
