.highlightArea {
  color: #ffffff;
  border-radius: 3px;
  /* border-radius: var(--ifm-code-border-radius); */
  /* border: 0.1rem solid #dddddd; */
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
}
