.item {
  border-radius: 4px;
  padding: 3px;
}

.item:hover {
  background-color: var(--link-list-hover);
}

.item > a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
}

.item > a > img {
  height: 25px;
  width: 25px;
  margin: 0 6px;
}

.item > a > img:hover {
  opacity: 0.6;
  cursor: pointer;
}

[data-theme="dark"] .item > a,
.item > a:hover {
  color: white;
}
