.tableAreaWrapper {
  border-radius: var(--ifm-code-border-radius); /* 0.4rem */
  overflow-x: auto;
  word-wrap: break-word;
  padding: 0.8rem;
}

[data-theme="light"] .tableAreaWrapper {
  border: 0.0625rem solid rgb(215, 217, 226);
  box-shadow: 0px 1px 2px 0px rgb(215 217 226);
}

[data-theme="dark"] .tableAreaWrapper {
  background-color: var(--dracula-color-primary);
  border: 0.0625rem solid var(--dracula-color-primary);
  box-shadow: 0px 1px 2px 0px var(--dracula-color-primary);
}

.tableArea {
  display: block;
  white-space: nowrap;
  max-width: 100%;
  overflow: auto hidden;
}

.tableArea table {
  font-variant-numeric: lining-nums tabular-nums;
  width: 100%;
  display: table;
  border-spacing: 2px;
  margin: 0;
}

.tableArea table th,
.tableArea table td,
.tableArea table tr {
  border: none;
}

.tableArea thead tr {
  border-bottom: var(--ifm-table-border-width) solid
    var(--ifm-table-border-color);
}

.tableArea th {
  letter-spacing: 0.05em;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  line-height: 1rem;
}

.tableArea tr {
  display: table-row;
}

.tableArea thead {
  display: table-header-group;
}

.tableArea tbody {
  display: table-row-group;
}

.tableArea tbody tr:last-child {
  border-bottom: var(--ifm-table-border-width) solid
    var(--ifm-table-border-color);
}

.tableArea tfoot {
  display: table-footer-group;
  vertical-align: middle;
}

.caption {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  caption-side: bottom;
  display: table-caption;
  text-align: start;
  padding-left: var(--ifm-table-cell-padding);
  padding-right: var(--ifm-table-cell-padding);
}

[data-theme="dark"] .caption {
  color: white;
}

.positionCenter {
  text-align: center;
}

.positionStart {
  text-align: center;
}

.positionEnd {
  text-align: center;
}
