.badge {
  display: inline-block;
  margin: 0.5rem 0.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.badgeHover:hover {
  cursor: pointer;
}
