.featureIconArea {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.featureIconArea > img {
  height: 128px;
  width: 128px;
}

.featureIconArea > img:hover {
  opacity: 0.8;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateZ(1turn);
  transition: cubic-bezier(0.2, 0.1, 0.2, 0.1) 0.6s;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.title::selection {
  color: var(--ifm-color-primary);
}
