.featureIconArea {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.featureIconArea > img {
  height: 128px;
  width: 128px;
}

.featureIconArea > img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.title::selection {
  color: var(--ifm-color-primary);
}
