/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* Font */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Yusei+Magic&family=ZCOOL+XiaoWei&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 100%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-footer-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-footer-padding-vertical: var(--ifm-spacing-vertical);
  --site-announcement-bar-stripe-color1: hsl(167deg 68% 85%);
  --site-announcement-bar-stripe-color2: hsl(167deg 68% 95%);
  --link-list-hover: rgb(102, 212, 189);
  --base-font-family: "Noto Sans", sans-serif;
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --ifm-list-left-padding: 1.2rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 10);
  --dracula-color-primary: #383a59;
}

/* Header Github Icon */
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html {
  font-family: var(--base-font-family);
  letter-spacing: 0.2px;
}

hr {
  border: 1px solid rgb(245, 244, 244);
  padding: 0;
  margin: 0;
}

blockquote {
  transition: all 0.5s ease-in-out;
  /* background: var(--ifm-color-primary-lighter);
  border-bottom: #25c2a0 1px solid; */
  background-color: #f8f8f9;
  font-size: 0.9em;
  border-image-source: linear-gradient(to left, #8f41e9, #f8f8f8);
  box-shadow: 1px 1px 5px 5px rgba(139, 138, 138, 0.01);
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
}

blockquote:hover {
  /* border-left: 2px solid var(--ifm-color-primary); */
  border-image-source: linear-gradient(
    to left,
    #8f41e9,
    var(--ifm-color-primary)
  );
  border-image-slice: 1;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0);
}

html[data-theme="dark"] blockquote {
  background-color: rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
/* 代码块、行内代码 */
code {
  color: var(--ifm-color-primary);
  font-weight: bold;
  font-size: smaller;
  vertical-align: middle;
  /* 使用 JetBrains Mono 字体 */
  font-family: "JetBrains Mono", monospace !important;
  /* font-family: var(--base-font-family) !important; */
}

.markdown h1,
.markdown h2,
.markdown h3 {
  font-family: var(--base-font-family);
}

.markdown h1 {
  line-height: 100%;
}

.markdown h2 {
  margin-top: 30px !important;
  padding-left: 10px;
  padding-bottom: 8px;
  line-height: 100%;
  border-left: var(--ifm-color-primary-dark) 8px solid;
  border-radius: 1px;
  border-bottom: var(--ifm-color-primary-dark) 1px solid;
}

.markdown h3 {
  padding-left: 10px;
  line-height: 100%;
  border-left: var(--ifm-color-primary-darker) 6px solid;
  border-radius: 1px;
}

/* TODO - Content image Component */

.markdown img {
  display: block;
}

.markdown strong {
  color: var(--ifm-color-primary-light);
}

img-annotation {
  display: block;
  color: #a9b1bb;
  margin: -1rem 0 1rem;
  text-align: center;
  font-size: 0.7rem;
}

div[class^="announcementBar_"] {
  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
  font-weight: 600;
}

.navbarIcon {
  border-radius: 6px;
  border: solid black 1.5px;
  background-color: var(--ifm-color-primary-lightest);
}

[data-theme="dark"] .navbarIcon {
  border: solid white 1.5px;
}
