.grid {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 5rem;
}

.cardWrapper {
  position: relative;
}

.card {
  background-image: linear-gradient(
    25deg,
    var(--ifm-color-primary),
    var(--ifm-color-primary-light),
    var(--ifm-color-primary-lighter),
    var(--ifm-color-primary-lightest)
  );
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  background-color: var(--ifm-color-primary-lightest);
  box-shadow: black 0px 0px 10px;
}

[data-theme="dark"] .card:hover {
  box-shadow: white 0px 0px 10px;
}

.image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 90px;
  height: 90px;
  opacity: 0;
}

.title {
  position: absolute;
  left: 8px;
  bottom: 4px;
  font-size: 0.7rem;
  font-weight: 600;
  color: white;
}

@media screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 11rem;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .cardWrapper:hover .image {
    opacity: 1;
    transition: ease-in 0.4s;
    transform-style: preserve-3d;
    transform: rotateZ(1turn);
    -webkit-transform: rotateZ(1turn);
    -moz-transform: rotateZ(1turn);
    -o-transform: rotateZ(1turn);
    -ms-transform: rotateZ(1turn);
    cursor: pointer;
  }

  .title {
    font-size: 1.2rem;
  }

  .cardWrapper:hover .title {
    opacity: 0;
    transition: ease-out 0.4s;
  }

  .image {
    width: 110px;
    height: 110px;
  }
}
